html {
    box-sizing: border-box;
}
*,
*::before,
::after {
    box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6,p {
    margin:0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: $greyDark;
    color: $textColor;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}
body.modal-open {
    overflow: hidden;
}
a {text-decoration: none;}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section {
    width: 98vw;
    height: 96vh;
    margin: 2vh auto;
    background-color: $greyLight;
    filter: drop-shadow(5px 5px 5px rgba(60, 60, 60, 0.4))
            drop-shadow(2px 2px 2px rgba(60, 60, 60, 0.25))
            drop-shadow(1px 1px 1px rgba(60, 60, 60, 0.5));
    border-radius: 10px;
    }

.container {
    max-width: 100%;
    max-height: 100%;
    margin: auto 0;
    padding: 15px;
}

.section__title {
    font-weight: 700;
    line-height: calc(33/28);
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
}
.cardset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }